.title {
  background-color: black;
  height: 15vh;
  text-align: center;
  margin-bottom: 0;
}

.title h1 {
  font-family: Garamond;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  color: #15BCEF;
  position: relative;
  top: 15px;
}

h2 {
  font-family: Garamond;
  color: #15BCEF;
}

/*Changes color of the navbar*/
.navbar-default {
  background: #15BCEF;
}

/*
Changes background color of tabpanel when user clicks on a new tab panel
src = https://bootstrapstudio.io/forums/topic/change-color-of-the-active-state-of-nav-link/
*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #3C5C93;
}

.navtitle {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.overall-info {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 70px;
}

.course_link {
  font-size: 20px;
}

.subject_info, .prof_info, .gen_ed_info, .course_profs {
  font-size: 18px;
}

.course_profs {
  margin-top: 50px;
}

.prof_info {
  margin-bottom: 70px;
}

.gen_ed_info, .subject_info {
  margin-top: 70px;
}

.selectinput {
  font-size: 18px;
  text-align: center;
}

.radiobuttons {
  font-size: 18px;
}

.checkboxes {
  font-size: 18px;
}

.appinfo {
  margin-top: 50px;
}

.appinfo h3 {
  text-align: center;
  text-decoration: underline;
}

.appinfo p {
  font-size: 18px;
}

.appinfo h4 {
  font-size: 24px;
  font-weight: bold;
}

.appinfo a {
  font-size: 18px;
}
